.divMenu {
  margin: 15px;
}
.divHomeMenuitems {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.columnHomeMenuItems {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  position: relative;
  padding: 4px 4px 12px 4px;
}

.columnHomeMenuItems .imageHome {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columnHomeMenuItems {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnHomeMenuItems {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
.columnHomeMenuItems .centeredTitle {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}
